body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    top: 2vw;
    overflow: hidden;
    position: relative;
}

.contenedor {
    width: 0;
    max-width: fit-content;
    display: none;
    border-radius: 5px;
    overflow: hidden;
    transition: width 0.3s ease; /* Para una transición suave */
    white-space: nowrap; /* Para evitar saltos de línea */
    background-color: #413c3ccc;
    max-height: 2vw;
    min-height: 2vw;
    
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    min-width: fit-content;
    margin: 0 1.5vw;
    font-size: 0.8vw;
    position: relative;
    animation: expandText 1s forwards;
    top: -2.5vw;
    left: 1.3vw;
    padding: 1vw;
}

.icono {
    background: #808080;
    width: 3vw;
    height: 2vw;
    display: flex;
    font-size: 1vw;
    min-width: 3vw;
    justify-content: center;
    align-items: center;
}

@keyframes expandWidth { 0% { width: 0vw; } 100% { width: 5vw; } }
@keyframes expandText  { to { opacity: 1; } }
